.depense {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .listButton {
    background: red;
    color: #fff;
    border: none;
    margin: .5em 0;
    padding: .5em .9em;
    transition: .5s ease-in-out;
  }
  
  .listButton:hover {
    scale: 1.2;
  }

  .depense-categorie {
    /*width: 20%;*/
  }