.buttons {
    background: cyan;
    margin: 2em 2em;
    color: #000;
    border: none;
    transition: 0.5s ease-in-out;
  }
  
  .buttons:hover {
    background-color: #fff;
    border: 1px solid #000;
  }
  
  input {
    border-radius: 2em;
    background: #c1feff;
    border: none;
    padding: .1em .5em;
    outline: none;
    transition: .5s ease-in-out;
    margin: .5em 0;
  }
  
  input:focus {
    background: #fff;
  }
  
  select {
    border-radius: 2em;
    background: #c1feff;
    border: none;
    padding: .1em 2.5em;
    outline: none;
    transition: .5s ease-in-out;
  }